<p-dialog
  header="Add word(s)"
  [(visible)]="visible"
  [modal]="true"
  [dismissableMask]="true"
  width="600"
  positionTop="100"
  (onHide)="onHidden()">

  <!-- Words form -->
  <form *ngIf="wordsArray" [formGroup]="wordsArray" (ngSubmit)="onSave()">

    <!-- Words list -->
    <ul class="words" #wordsList>

      <!-- Words list item -->
      <li 
        class="ui-g" 
        *ngFor="let word of wordsArray.controls; let i = index"
        [formGroupName]="i">
        <!-- Text -->
        <div class="ui-g-4">
          <textarea 
            [formControl]="word.controls.text"
            pInputTextarea 
            rows="2"
            placeholder="Enter word"
            name="text"
            maxlength="200">
          </textarea>
        </div>
        <!-- Translation -->
        <div class="ui-g-5">
          <textarea 
            [formControl]="word.controls.translation"
            pInputTextarea 
            rows="2"
            placeholder="Enter translation"
            name="translation"
            maxlength="200">
          </textarea>
        </div>
        <!-- Repeat -->
        <div class="ui-g-2">
          <p-checkbox
            [formControl]="word.controls.repeat"
            label="Repeat"
            name="repeat"
            [binary]="true">
          </p-checkbox>
        </div>
        <!-- Remove -->
        <div class="ui-g-1 text-right">
          <p-button
            *ngIf="i !== 0"
            icon="fa fa-fw fa-trash-o"
            styleClass="ui-button-secondary"
            (click)="onRemoveWord(i)">
          </p-button>
        </div>
      </li>
    
    </ul>

    <!-- Actions -->
    <div class="ui-g actions">
      <div class="ui-g-6 text-left">
        <p-button 
          label="Add word" 
          icon="fa fa-plus"
          styleClass="ui-button-secondary"
          (click)="onAddWord()">
        </p-button>
      </div>
      <div class="ui-g-6 text-right">
        <p-button 
          type="submit"
          label="Save words"
          icon="fa fa-save"
          [disabled]="wordsArray.invalid">
        </p-button>
      </div>
    </div>

  </form>

  <mw-loader [visible]="saving" [expand]="true"></mw-loader>

</p-dialog>
