mw-words-collection {
    display: block;
    padding: 10px;
    .ui-table-thead {
        [pInputText] {
            font-size: 14px;
            padding: 2px 6px;
            width: 100%;
            max-width: 200px;
        }
        p-dropdown {
            .ui-dropdown {
                width: 100%;
                max-width: 200px;
                vertical-align: top;
            }
            .ui-dropdown-label {
                width: 100%;
                height: 21px;
                padding: 0 20px 0 0;
                font-size: 14px;
            }
        }
    }
    .ui-table-summary {
        text-align: right;
        .total {
            float: left;
            margin-top: 4px;
        }
    }
}