mw-words-collection {
    display: block;
    padding: 10px;
    .ui-table-summary {
        text-align: right;
        .total {
            float: left;
            margin-top: 4px;
        }
    }
}