
<!-- Table -->
<p-table 
    [value]="words" 
    [loading]="loading">
    <ng-template pTemplate="header">
        <tr>
            <th>Word</th>
            <th>Created at</th>
            <th>Updated at</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-word>
        <tr>
            <td>{{word.text}}</td>
            <td>{{word.createdAt}}</td>
            <td>{{word.updatedAt}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="3">No words</td>
        </tr>
    </ng-template>
</p-table>

<!-- Paginator -->
<p-paginator 
    [first]="paging.skip" 
    [rows]="paging.limit" 
    [totalRecords]="paging.total"
    (onPageChange)="onPageChange($event)">
</p-paginator>