<!-- Words table -->
<p-table 
    [value]="words" 
    [loading]="loading"
    [lazy]="true"
    [paginator]="true"
    [first]="paging.skip"
    [rows]="paging.limit"
    [totalRecords]="paging.total"
    (onLazyLoad)="onLazyLoad($event)">
    <ng-template pTemplate="header">
        <tr>
            <th>Word</th>
            <th>Translation</th>
            <th style="width: 200px;">Date</th>
            <th style="width: 130px;"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-word>
        <tr>
            <td>{{word.text}}</td>
            <td>{{word.translation}}</td>
            <td [title]="word.updatedAt">{{word.relativeDate}}</td>
            <td style="text-align: right;">
                <p-button
                    title="Open in Google translate"
                    icon="fa fa-fw fa-language"
                    (onClick)="onOpenInGoogleTranslate(word)">
                </p-button>
                <p-button
                    title="Edit word"
                    icon="fa fa-fw fa-edit"
                    (onClick)="onWordEdit(word)">
                </p-button>
                <p-button
                    title="Delete word" 
                    icon="fa fa-fw fa-trash-o"
                    (onClick)="onWordDelete(word)">
                </p-button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="4">No words</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <span class="total">Total words: {{paging.total}}</span>
        <p-button label="Add word" icon="fa fa-fw fa-plus" (click)="onWordAdd()"></p-button>
    </ng-template>
</p-table>

<!-- Delete word confirm -->
<p-confirmDialog header="Delete word" width="400"></p-confirmDialog>