@import 'variables';
@import (reference) 'utils';

:host {
    display: block;
    position: relative;
    padding: 34px;
    text-align: center;
}

.word-details {
    margin-bottom: 32px;
    .word {
        margin-bottom: 10px;
        color: @c-scorpion;
        font-size: 32px;
        line-height: 1;
        .text-break;
    }
    .word-hint {
        margin-bottom: 12px;
        font-style: italic;
        line-height: 1;
        .text-break;
    }
}