@import 'variables';

:host {
    display: block;
    position: relative;
    padding: 25px;
    text-align: center;
    line-height: normal;
}

.word-details {
    margin-bottom: 24px;
    .word {
        margin-bottom: 8px;
        color: @c-scorpion;
        font-size: 32px;
    }
    .word-hint {
        margin-bottom: 12px;
        font-style: italic;
    }
}