<p-dialog
  header="Edit word"
  [(visible)]="visible"
  [modal]="true"
  [dismissableMask]="true"
  width="400"
  positionTop="100"
  (onHide)="onHidden()">

  <form *ngIf="word" #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="ui-g">
      <!-- Text -->
      <div class="ui-g-4">Word</div>
      <div class="ui-g-8">
        <textarea 
          pInputTextarea 
          name="text"
          rows="2"
          placeholder="Enter word"
          [(ngModel)]="word.text"
          mwNotEmpty>
        </textarea>
      </div>
      <!-- Translation -->
      <div class="ui-g-4">Translation</div>
      <div class="ui-g-8">
        <textarea 
          pInputTextarea 
          name="translation" 
          rows="2"
          placeholder="Enter translation"
          [(ngModel)]="word.translation">
        </textarea>
      </div>
      <!-- Repeat -->
      <div class="ui-g-4">Repeat</div>
      <div class="ui-g-8">
        <p-checkbox
          name="repeat"
          [binary]="true"
          [(ngModel)]="word.repeat">
        </p-checkbox>
      </div>
      <!-- Created at -->
      <div class="ui-g-4">Created at</div>
      <div class="ui-g-8">
        <input 
          pInputText 
          name="createdAt"
          disabled
          value="{{word.createdAt|date: 'dd.MM.yyy HH:mm:ss'}}">
      </div>
      <!-- Updated at -->
      <div class="ui-g-4">Updated at</div>
      <div class="ui-g-8">
        <input 
          pInputText 
          name="updatedAt"
          disabled
          value="{{word.updatedAt|date: 'dd.MM.yyy HH:mm:ss'}}">
      </div>
      <!-- Submit -->
      <div class="ui-g-4"></div>
      <div class="ui-g-8 text-right">
        <p-button
          icon="fa fa-remove"
          label="Cancel"
          (click)="onCancel()">
        </p-button>
        <p-button 
          type="submit"
          styleClass="save"
          icon="fa fa-save"
          label="Save"
          [disabled]="form.invalid">
        </p-button>
      </div>
    </div>
  </form>

  <mw-loader [visible]="saving" [expand]="true"></mw-loader>

</p-dialog>