<p-dialog
  [header]="header"
  [(visible)]="visible"
  [modal]="true"
  [dismissableMask]="true"
  width="400"
  (onHide)="onHidden()">

  <form *ngIf="word">
    <div class="ui-g">
      <div class="ui-g-4">Word</div>
      <div class="ui-g-8">
        <input 
          pInputText 
          name="text"
          [(ngModel)]="word.text">
      </div>
      <div class="ui-g-4">Translation</div>
      <div class="ui-g-8">
        <textarea 
          pInputTextarea 
          name="translation" 
          rows="3"
          [(ngModel)]="word.translation">
        </textarea>
      </div>
      <div class="ui-g-4">Repeat</div>
      <div class="ui-g-8">
        <p-checkbox
          name="repeat"
          [binary]="true"
          [(ngModel)]="word.repeat">
        </p-checkbox>
      </div>
      <ng-container *ngIf="word.id">
        <div class="ui-g-4">Created at</div>
        <div class="ui-g-8">
          <input 
            pInputText 
            name="createdAt"
            disabled
            value="{{word.createdAt|date: 'dd.MM.yyy HH:mm:ss'}}">
        </div>
        <div class="ui-g-4">Updated at</div>
        <div class="ui-g-8">
          <input 
            pInputText 
            name="updatedAt"
            disabled
            value="{{word.updatedAt|date: 'dd.MM.yyy HH:mm:ss'}}">
          </div>
        </ng-container>
    </div>
  </form>

  <mw-loader [visible]="saving" [expand]="true"></mw-loader>

  <p-footer>
    <p-button
      icon="fa fa-remove"
      label="Cancel"
      (click)="onCancel()">
    </p-button>
    <p-button 
      styleClass="save"
      icon="fa fa-save"
      label="Save"
      (click)="onSave()">
    </p-button>
  </p-footer>

</p-dialog>